:root {
    --text: #181818;
    --bg: #fff;
    --accent: #aa3bff;
    --accent-bg: rgba(54, 9, 88, 0.8);
    --shadow: rgba(0, 0, 0, 0.1) 0 8px 10px 4px,
        rgba(0, 0, 0, 0.05) 0 2px 4px 2px;
}

$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1440px;
